<div class="btn-group" uib-dropdown is-open="status.isopen">
  <button id="event-button"
          type="button"
          class="btn"
          ng-class="{'btn-info': selector.getAllSelectedDevices().length > 0}"
          uib-dropdown-toggle
  >
    <i class="fa fa-plus fa-fw"></i>New event<span class="caret"></span>
  </button>
  <ul uib-dropdown-menu role="menu" aria-labelledby="event-button">
    <li role="menuitem"
        ng-repeat="event in events"
        tooltip-placement="right"
        tooltip-append-to-body="true"
    >
      <a ng-click="openModal(event.type)">
        <resource-icon resource-type="{{::event.type}}" fill-to="true"></resource-icon>
        {{::event.humanName}}
      </a>
    </li>
  </ul>
</div>
