<article>
  <header ng-if="type==='medium' && resource['@type']">
    <h3 ng-show="view.title" class="display-inline">
        <span ng-repeat="t in view.title">
          <span ng-if="t.humanize">{{resource[t.key] | humanize}}</span>
          <span ng-if="!t.humanize">{{resource[t.key]}}</span>
        </span>
      <small ng-repeat="s in view.subtitle">
        <span ng-if="s.humanize">{{resource[s.key] | humanize}}</span>
        <span ng-if="!s.humanize">{{resource[s.key]}}</span>
      </small>
      <small class="pull-right">
        <resource-icon resource-type="{{resource['@type']}}" resource-subtype="{{resource.type}}"></resource-icon>
      </small>
    </h3>
  </header>
  <div id="resource-view-body"></div>
  <div ng-if="type==='small'">
    <div>&nbsp;</div><!-- Don't know why a margin-top doesn't work here -->
    <button ng-if="type==='small'" class="btn btn-default btn-block" ng-click="goTo(resource)">
      Open it
      <i class="fa fa-folder-open"></i>
    </button>
  </div>
</article>
