<article>
  <div ng-if="type === 'small'">
    <div class="pull-right">
      <a class="fa fa-window-maximize"
         ui-sref="index.inventory.resource(srefUiParams)"
         uib-tooltip="Maximize it"
         tooltip-append-to-body="true"
      ></a>
      <a class="fa fa-external-link"
         ui-sref="index.inventory.resource(srefUiParams)"
         target="_blank"
         uib-tooltip="Open it in a new tab"
         tooltip-append-to-body="true"
      ></a>
    </div>
    <table-view model="model" teaser="true"></table-view>
  </div>

  <div ng-if="type !== 'small'">
    <header ng-if="resource['@type']">
      <h3 ng-show="view.title" class="display-inline">
        <span ng-repeat="t in view.title">{{resource[t]}}</span>
        <small ng-repeat="s in view.subtitle">&nbsp;{{resource[s]}}</small>
        <small class="pull-right">
          <delete-button resource="resource"></delete-button>
          <resource-icon resource-type="{{resource['@type']}}" resource-subtype="{{resource.type}}"></resource-icon>
        </small>
      </h3>
    </header>
  </div>
  <div id="resource-view-body"></div>
</article>
