<span ng-show="field.editable" class="pull-right edit-button">
  <!--<i class="fa fa-plus fa-fw clickable" ng-click="newLot($event, resource)" ng-hide="edit.editing"></i>-->
  <i class="fa fa-edit fa-fw clickable" ng-click="edit.edit($event)" ng-hide="edit.editing"></i>
  <i class="fa fa-check clickable" ng-click="form.submit($event)" ng-show="edit.editing"></i>
  <i class="fa fa-ban fa-fw clickable" ng-click="edit.stopEdit($event)" ng-show="edit.editing"></i>
</span>
<span ng-transclude ng-show="!edit.editing"></span>
<form ng-if="edit.editing" ng-submit="form.submit($event)" novalidate id="edit-form">
  <formly-form model="form.model" fields="form.fields" form="form.form" options="form.options">
  </formly-form>
</form>

