<article class="event" itemscope itemtype="http://www.ereuse.org/schema#Event">
  <delete-button class="pull-right" model="event"></delete-button>
  <h3>{{event['@type']}}</h3>
  <div ng-if="!teaser">
    <event-easy-explanation event="event" id="id"></event-easy-explanation>
  </div>
  <div ng-switch="event['@type']">
    <div ng-switch-when="devices:Snapshot">
      <snapshot-view snapshot="event" id="id"></snapshot-view>
    </div>
  </div>
  <div ng-if="!teaser" uib-accordion>
    <div uib-accordion-group>
      <header uib-accordion-heading>Extra information</header>
      <table-view model="model" teaser="teaser"></table-view>
    </div>
  </div>
  <div ng-if="teaser">
    <table-view model="model" teaser="teaser"></table-view>
  </div>
</article>
