<div ng-if="mapConfig != null" id="map">
    <ui-gmap-google-map center='mapConfig.map.center' zoom='mapConfig.map.zoom'>
        <ui-gmap-polygon static="false"
                         path="mapConfig.op.path"
                         stroke="mapConfig.op.stroke"
                         visible="mapConfig.op.visible"
                         geodesic="mapConfig.op.geodesic"
                         fill="mapConfig.op.fill"
                         fit="false"
                         editable="mapConfig.op.editable"
                         draggable="mapConfig.op.draggable"
        ></ui-gmap-polygon>
    </ui-gmap-google-map>
</div>
<div ng-if="mapConfig == null" class="spinner"></div>