logs/*
!.gitkeep
node_modules/
bower_components/
dist/**
tmp
.DS_Store
.idea
.idea/**
.vscode/*
Thumbs.db
app/truffle/build/
app/eReuse-Blockchain/build/
package-lock.json

config.yml
package-lock.json
pnpm-lock.yaml
app/truffle/build/contracts/*
