<div ng-if="id._id == event.device">
    <h3>{{name}} components:</h3>
    <ul class="list-group" itemprop="components">
        <li class="list-group-item" ng-repeat="component in event.components" itemprop="component">
            {{component}}
        </li>
    </ul>
</div>
<div ng-if="id._id != event.device">
    <h3>{{name}}
        <span ng-if="event.components.indexOf(id._id) == -1">{{id._id}}</span>
        {{preposition}} computer <span itemprop="device">{{event.device}}</span>
    </h3>
</div>
