<article>
<timeline side="left">
    <timeline-event ng-repeat="event in events">
        <timeline-badge class="info">
            <event-icon event-type="{{event['@type']}}"></event-icon>
        </timeline-badge>
        <timeline-panel class="info">
            <event-view event="event" id="id"></event-view>
        </timeline-panel>
    </timeline-event>
</timeline>
</article>




<!--<ul class="list-group" id="deviceList">
    <li class="list-group-item" ng-repeat="event in events">
        <event-view-teaser-widget event="event" id="id"></event-view-teaser-widget>
    </li>
</ul>-->

