<form class="form-inline" ng-submit="print()">
    <div class="form-group">
        <label for="width">Width</label>
        <input type="number" class="form-control" id="width"  ng-model="set.width" min="81"/>
    </div>
    <div class="form-group">
        <label for="height">Height</label>
        <input type="number" class="form-control" id="height" ng-model="set.height" min="51"/>
    </div>
    <div class="form-group">
        <label for="logoUpload">Logo</label>
        <input type="file" class="form-control" id="logoUpload" accept="image/*"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Print</button>
    </div>
</form>
<div class="row" id="labels">
    <div ng-repeat="device in devices"  class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <label-widget width='{{set.width}}' height="{{set.height}}" device="device" logo="{{logo}}"></label-widget>
    </div>
</div>