<div class="col-xs-12 col-lg-7">
    <table class="table table-striped">
        <thead><tr><th>Computer</th></tr></thead>
        <tbody>
            <tr><td>Type of computer</td><td itemprop="type">{{computer.type}}</td></tr>
            <tr><td>Total of memory</td><td itemprop="totalMemory">{{computer.totalMemory}}</td></tr>
        </tbody>
    </table>
</div>
<!--<div class="col-xs-12 col-lg-7">
    <table class="table table-striped">
        <thead><tr><th>Components</th></tr></thead>
        <tbody>
            <tr ng-repeat="component in computer.components">
                <td>{{component['@type']}}</td><td>{{component.manufacturer}} {{component.model}}<br/><em>{{component.hid}}</em></td>
            </tr>
        </tbody>
    </table>
</div>-->
<div class="col-xs-12">
    <h3>Components</h3>
    <accordion class="row">
        <accordion-group ng-repeat="device in computer.components">
            <accordion-heading>
                {{device['@type']}}: {{device._id}}, <em>{{device.manufacturer}} {{device.model}}</em>
            </accordion-heading>
            <h4>{{device['@type']}}</h4>
            <div ng-include="'app/devices/device/deviceViewFull.html'"></div>
        </accordion-group>
    </accordion>
</div>