<article>
    <div ng-if="id._id != null">
        <tabset>
            <tab ng-repeat="tab in tabs" select="tab.getContent()">
                <tab-heading>
                    <i class="{{tab.uiClass}}"></i>&nbsp;{{tab.heading}}
                </tab-heading>
                <div ng-switch="tab.heading">
                    <div ng-switch-when="Show"><device-view-full-widget id="id"></device-view-full-widget></div>
                    <div ng-switch-when="Events"><events-per-device-view-full-widget id="id"></events-per-device-view-full-widget></div>
                </div>
            </tab>
        </tabset>
    </div>
    <div ng-if="id._id == null">Select a device.</div>
</article>