<div ng-include="'app/resources/modal/header.html'"></div>
<div class="modal-body" ng-switch="type">
    <div class="form" ng-switch-when="Computer">
        <div class="form-group">
            <label for="select-files">Select files to upload</label>
            <input  type="file" class="file" multiple accept=".json" id="select-files"/>
            <button class="btn btn-primary" type="submit" id="upload-files" ng-click="upload()">Upload files</button>
        </div>
        <div ng-if="files !== false">
            <progressbar class="progress-striped" ng-class="active" type="success" value="uploaded" max="files"></progressbar>
        </div>
        <div ng-show="results.length > 0">
            <table class="table stripped">
                <thead><tr><th>File name</th><th>Snapshot Id</th><th>Result</th></tr></thead>
                <tbody>
                    <tr ng-repeat="result in results" ng-class="result.css">
                        <td>{{result.fileName}}</td><td>{{result._id}}</td><td>{{result.answer}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-switch-default>

    </div>
</div>
<div ng-include="'app/resources/modal/done.html'"></div>