<div class="col-xs-12 col-lg-7">
    <table class="table table-striped">
        <thead><tr><th>Computer</th></tr></thead>
        <tbody>
            <tr><td>Size</td><td itemprop="size">{{hardDrive.size}} MB</td></tr>
            <tr><td>Interface</td><td itemprop="interface">{{hardDrive.interface}}</td></tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12" ng-if="hardDrive.tests.length > 0 || hardDrive.erasures > 0">
    <h3>Tests and erasures</h3>
    <div uib-accordion class="row">
        <div uib-accordion-group ng-repeat="event in [].concat(hardDrive.erasures, hardDrive.tests)">
            <header uib-accordion-heading>
                <event-easy-explanation event="event" id="hardDrive"></event-easy-explanation>
            </header>
            <event-view event="event" teaser="teaser" id="hardDrive"></event-view>
        </div>
    </div>
</div>