<div class="col-xs-12 col-lg-7">
    <table class="table table-striped">
        <thead><tr><th>Computer</th></tr></thead>
        <tbody>
            <tr><td>Size</td><td itemprop="size">{{hardDrive.size}} MB</td></tr>
            <tr><td>Interface</td><td itemprop="interface">{{hardDrive.interface}}</td></tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12">
    <h3>Tests</h3>
    <div class="row">
        <div ng-repeat="test in hardDrive.tests" class="col-xs-12 col-xs-offset-0 col-lg-10 col-lg-offset-1">
                <table class="table table-striped">
                    <tbody>
                        <tr><td>Incidence</td><td>{{test.incidence}}</td></tr>
                        <tr><td>Lifetime</td><td>{{test.lifetime}}</td></tr>
                        <tr><td>Status</td><td>{{test.status}}</td></tr>
                        <tr><td>Type</td><td>{{test.type}}</td></tr>
                        <tr><td>By user</td><td>{{test.byUser}}</td></tr>
                        <tr><td>Date</td><td>{{test._created}}</td></tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>