<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <div ng-switch="CONSTANTS.showSiteLogo" class="navbar-brand">
        <img ng-switch-when="true" ng-src="{{CONSTANTS.siteLogo}}" ng-click="setTab(0)"/>
        <span ng-switch-when="false" ng-click="setTab(0)">{{CONSTANTS.appName}}</span>
      </div>

    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <new-button></new-button>
        <tools-button></tools-button>
        <change-database></change-database>
        <user-button></user-button>
      </ul>
    </div>
  </div>


  <!--<uib-tabset active="actualTab" type="pills">
    <uib-tab
      ng-repeat="tab in tabs"
      heading="{{tab.heading}}"
      select="go(tab.route)"
    >
      <uib-tab-heading>
        <i class="fa fa-{{tab.fa}}"></i>
        {{tab.heading}}
      </uib-tab-heading>
    </uib-tab>
  </uib-tabset>-->
</nav>
