<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand" ui-sref="index.inventory">
        <img ng-src="{{::CONSTANTS.siteLogo}}"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <new-button></new-button>
        <workbench-button></workbench-button>
        <change-database></change-database>
        <shared-with-me></shared-with-me>
        <user-button></user-button>
      </ul>
    </div>
  </div>
</nav>
