#device-list-table tr td {
  padding: 1vh !important;

  :first-child {
    white-space: nowrap;
  }
  .device-list-checkbox {
    zoom: 2;
  }
}

device-list {
  #screener {
    display: inline-block;
    position: relative;
    > :first-child {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      z-index: 1;
      position: absolute;
      cursor: not-allowed;
    }
  }
  #counter {
    > * {
      vertical-align: middle;
    }
    i {
      font-size: 1.4em;
      cursor: pointer;
    }
  }
  device-icon img {
    max-width: 2em;
  }
}
