<div ng-include="'common/elements/modal/header.html'"></div>
<div class="modal-body">
    <div ng-switch="type">
        <div ng-switch-when="Label">
            <device-label-list devices="devices"></device-label-list>
        </div>
        <div ng-switch-when="Erasure Certificate">
            <certificate-erasure devices="devices"></certificate-erasure>
        </div>
    </div>
    <!--<ul>
        <li ng-repeat="device in devices">
            <pre>{{device}}</pre>
        </li>
    </ul>-->
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Return to list</button>
</div>
