<div ng-include="'common/elements/modal/header.html'"></div>
<div class="modal-body">
    <div ng-switch="type">
        <div ng-switch-when="Label">
            <device-label-list devices="devices"></device-label-list>
        </div>
        <div ng-switch-when="Receive">
            <event-edit-fullscreen-widget event="event"></event-edit-fullscreen-widget>
        </div>
    </div>
    <!--<ul>
        <li ng-repeat="device in devices">
            <pre>{{device}}</pre>
        </li>
    </ul>-->
</div>
<div class="modal-footer">
    <button ng-if="type != 'Label'" type="submit" form="eventForm" class="btn btn-primary">Apply</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>