<!-- Resource Filters -->
<div class="active-filters-container">
  <!-- Active filters -->
  <ul class="active-filters">
    <li class="active-filter" ng-repeat="filter in activeFilters" ng-click="openFilter(filter.propPath)">
      <span>{{ filter.text }}</span>
      <i class="fa fa-fw fa-close" ng-click="removeFilter(filter.propPath)"></i>
    </li>
  </ul>
  <!-- Add button and panel -->
  <button class="btn btn-primary btn-add-filter-panels" ng-click="toggleDisplayFilterPanels()">Add filter</button>
  <button class="btn btn-default-inverted btn-add-filter-panels"
          clipboard text="filtersModelStr" on-copied="filtersExported()" on-error="filtersExported(err)">Export</button>
  <button type="button"
          class="btn btn-default-inverted btn-add-filter-panels"
          ng-click="openImportModal()"
  >
    Import
  </button>
  <div class="add-filter-panels-container">
    <div class="add-filter-panels-wrapper">
      <div ng-class="{ active: showFilterPanels }" class="add-filter-panels">
        <form ng-repeat="panel in filterPanels"
              ng-submit="panel.onSubmit()"
              name="panel.content.form"
              novalidate
              ng-class="{ active: panel.shown, isRoot: panel === filterPanelsRoot }"
              class="filter-panel">
          <button class="btn btn-hide-filter-panel" ng-click="hideFilterPanel($event, panel)">
            <i class="fa fa-chevron-left fa-fw"></i>
          </button>
          <h3 ng-show="panel.title">{{ panel.title }}</h3>
          <ul class="filter-panel-links" ng-show="panel.children.length > 0">
            <li ng-repeat="child in panel.children">
              <button class="btn-primary" ng-click="child.panel.shown = true">{{ child.childName }}</button>
            </li>
          </ul>
          <div ng-show="!panel.children || panel.children.length === 0">
            <formly-form model="filtersModel" fields="panel.fields" options="panel.options">
            </formly-form>
            <div style="text-align: right;">
              <button type="button"
                      class="btn btn-primary btn-add-filter-panels"
                      ng-click="hideAllFilterPanels()">Cancel</button>
              <button type="submit"
                      class="btn btn-primary btn-add-filter-panels"
                      ng-disabled="content.form.$invalid"
                      style="margin-left: 10px;">Add filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>