<nit-advanced-searchbox
        ng-model="searchParams"
        parameters="availableSearchParams"
        placeholder="Search..."
        template-url="bower_components/angular-advanced-searchbox/angular-advanced-searchbox.html">
</nit-advanced-searchbox>
<div ng-show="selectedDevices.length > 0" style="text-align: center" >
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="openModal('label')">
            Label
        </button>
        <button type="button" class="btn btn-primary" ng-click="openModal('addState')">
            Add new state
        </button>
    </div>
    <div class="btn-group" dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
            More actions<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <li class="divider"></li>
            <li role="menuitem"><a href="#">Delete</a></li>
        </ul>
    </div>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th><th>Identifier</th><th>HID</th><th>Type of device</th><th>Model</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="device in devices" ng-click="deviceSelected(device)">
             <td><input type="checkbox" checklist-model="selectedDevices" checklist-value="device"><device-icon type="{{device['@type']}}" subtype="{{device.type}}"></device-icon></td><td>{{device._id}}</td> <td>{{device.hid}}</td> <td>{{device['@type']}}</td><td>{{device.model}}</td>
        </tr>
    </tbody>
    <tr></tr>
</table>