<nit-advanced-searchbox
        ng-model="searchParams"
        parameters="availableSearchParams"
        placeholder="Search..."
        template-url="bower_components/angular-advanced-searchbox/angular-advanced-searchbox.html">
</nit-advanced-searchbox>
    <div ng-show="selectedDevices.length > 0" style="text-align: center" >
        <span uib-tooltip-template="'app/devices/list/selectedDevices.html'" tooltip-placement="bottom">
            {{selectedDevices.length}} devices <i ng-click="unselectDevices()" class="glyphicon glyphicon-remove-circle"></i>
        </span>
        <div class="btn-group"dropdown is-open="status.isopen1">
            <button type="button" class="btn btn-primary" ng-click="openModal('Label')">
                Label
            </button>
            <button id="single-button1" type="button" class="btn btn-primary" dropdown-toggle>
                New event<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button1">
                <li role="menuitem"><a ng-click="openModal('Receive')">Receive</a></li>
                <!--<li role="menuitem"><a ng-click="openModal('Locate')">Locate</a></li>-->
            </ul>
        </div>
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle>
                More actions<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Delete</a></li>
            </ul>
        </div>
    </div>
<div fill-height additional-padding="{{87+20}}">
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th><th>Identifier</th><th>Model</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in devices" ng-click="deviceSelected(device)">
                    <td>
                        <input type="checkbox" checklist-model="selectedDevices" checklist-value="device">
                    </td>
                    <td>
                        {{device._id}}<span ng-if="device.hasOwnProperty('hid')">: {{device.hid}}</span>
                    </td>
                    <td>{{device.model}}</td>
                    <td><device-icon icon="{{device['icon']}}"></device-icon></td>

                </tr>
            </tbody>
            <tr></tr>
        </table>
        </div>
</div>