<ol class="breadcrumb">
  <li ng-repeat="resource in log" ng-class="{active: $last}">
    <strong ng-if="resource._id && $last">
      <group-resource-button
              resource-type="Lot"
              resource="resource"
      >
      </group-resource-button>
      <resource-icon resource-type="Lot"></resource-icon>

      <resource-field-edit resource="resource" field="{ key: 'label', value: resource.label, editable: true }">
        {{resource | resourceTitle}}
      </resource-field-edit>
    </strong>
    <strong ng-if="!resource._id && $last">
      My inventory
    </strong>
    <a ng-if="resource._id && !$last" ng-click="goTo(resource)">
      {{resource | resourceTitle}}
    </a>
    <!-- ui-router doesn't reload controller if the previous state was from index.inventory or a children -->
    <a ng-if="!resource._id && !$last" ui-sref="index.inventory({})" ui-sref-opts="{reload: true}">
      My inventory
    </a>
  </li>
</ol>

