<article
  class="resource-label"
  ng-style="{width: model.size.width + 'mm', height: model.size.height + 'mm'}"
>
  <div>
    <div class="label-logo"
         ng-if="model.useLogo"
         ng-style="{height: (model.size.height / 2.5) + 'mm'}">
      <img ng-src="{{model.logo}}"/>
    </div>
    <div class="label-body">
      <qrcode data="{{::code}}" error-correction-level="Q" size="92" version="5"></qrcode>
      <table>
        <tr ng-repeat="field in model.fields">
          <td>
            <small ng-show="model.showFieldNames">{{::field.short || field.humanName}}</small>
          </td>
          <td>
            {{::humanizeValue(resource[field.name], field.type)}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</article>
