.labelWidget {
  width: 20em;
  background-color: white;
  border: 1px solid grey;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  > div:first-child {
    text-align: center;
    height: 44%;
  }
  > div:last-child > * {
    display: inline-block;
  }
  qrcode, table {
    vertical-align: middle;
  }
  qrcode {
    margin-left: 2%;
  }
  table {
    width: 64%;
    font-size: 19px;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    tr {
      &:not(:first-child) td:last-child {
        border-top: 1px solid;
      }
      > td:last-child {
        text-align: right;
        width: 100%;
      }
    }
  }
  &.no-logo{
    > div:first-child{
      display: none;
    }
    > div:last-child{
      margin-top: 1mm;
    }
  }
}



