<user-button class="pull-right"></user-button>
<change-database class="pull-right"></change-database>
<tools-button class="pull-right"></tools-button>
<snapshot-button class="pull-right"></snapshot-button>
<nav>
  <div ng-switch="CONSTANTS.showSiteLogo" id="logo">
    <img ng-switch-when="true" ng-src="{{CONSTANTS.siteLogo}}" ng-click="setTab(0)"/>
    <h1 ng-switch-when="false" ng-click="setTab(0)">{{CONSTANTS.appName}}</h1>
  </div>
  <uib-tabset active="actualTab" type="pills">
    <uib-tab
      ng-repeat="tab in tabs"
      heading="{{tab.heading}}"
      select="go(tab.route)"
    >
      <uib-tab-heading>
        <i class="fa fa-{{tab.fa}}"></i>
        {{tab.heading}}
      </uib-tab-heading>
    </uib-tab>
  </uib-tabset>
</nav>
