navigation{
  .pull-right .btn{
    border-bottom: 0 !important;
  }
  nav{
    background-color: whitesmoke;
    #logo{
      float: left;
      cursor: pointer;
      h1{
        padding: 10px 2em !important;
        font-size: larger !important;
        margin: 0 !important;
      }
    }
  }
}