$body-bg: #FDFDFD !default
$dropdown-bg: $body-bg !default
$popover-bg: $body-bg !default
$modal-content-bg: $body-bg !default
$panel-bg: lighten($body-bg, 50%)
$navbar-default-bg: $body-bg
$main-nav-bg: #EFEFEF !default
$icon-font-path: './fonts/'
$navbar-height: 42px !default
$navbar-padding-vertical: 10px !default
$navbar-padding-horizontal: 10px !default
$tabsHeight: $navbar-height !default

$nav-pills-bg: lighten($main-nav-bg, 4) !default

$brand-primary: #2780E3 !default
$brand-info: #53A6BE !default

$grid-gutter-width: 10px !default

$breadcrumb-padding-vertical: 6px !default
$breadcrumb-bg: $nav-pills-bg

$sidebar-background-color: #393939
$sidebar-color: white

$btn-primary-color: #fff !default
$btn-primary-bg: #53A6BE !default
$btn-primary-border: darken($btn-primary-bg, 5%) !default

@import "./../../../node_modules/bootswatch/cosmo/variables"
@import ./../../../node_modules/font-awesome/scss/variables

$footer-font-size: $font-size-small !default
$footer-computed-line-height: ceil($footer-font-size * $line-height-small)
$footerHeight: $footer-computed-line-height

$breadcrumb-height: $line-height-computed + ($breadcrumb-padding-vertical * 2)

