$gray-base: #000 !default
$gray-dark: lighten($gray-base, 20%)
$text-color: $gray-dark !default

$body-bg: #FDFDFD !default
$dropdown-bg: $body-bg !default
$popover-bg: $body-bg !default
$modal-content-bg: $body-bg !default
$panel-bg: lighten($body-bg, 50%)
$main-nav-bg: #EFEFEF !default
$icon-font-path: './fonts/'
$navbar-height: 42px !default
$navbar-padding-vertical: 10px !default
$navbar-padding-horizontal: 10px !default
$tabsHeight: $navbar-height !default

$nav-pills-bg: lighten($main-nav-bg, 4) !default

$brand-primary: #2780E3 !default
$brand-info: #53A6BE !default

$grid-gutter-width: 10px !default

$breadcrumb-padding-vertical: 6px !default
$breadcrumb-bg: $nav-pills-bg


$btn-primary-color: #fff !default
$btn-primary-bg: #53A6BE !default
$btn-primary-border: darken($btn-primary-bg, 5%) !default

$padding-base-vertical: 6px !default
$padding-base-horizontal: 11px !default

$padding-small-vertical: 4px !default
$padding-small-horizontal: 5px !default

$border-radius-base: 3px !default
$border-radius-large: 4px !default
$border-radius-small: 3px !default

$kbd-color: $brand-primary !default
$kbd-bg: lightgrey !default

// Navbar
$navbar-default-bg: $main-nav-bg !default
$navbar-default-color: $text-color !default
$navbar-default-border: $body-bg !default
$navbar-default-link-color: $text-color
$navbar-default-link-hover-color: $text-color


@import ./../../../node_modules/bootswatch/cosmo/variables
@import ./../../../node_modules/@fortawesome/fontawesome-free/scss/variables

$footer-font-size: $font-size-small !default
$footer-computed-line-height: ceil($footer-font-size * $line-height-small)
$footerHeight: $footer-computed-line-height

$breadcrumb-height: $line-height-computed + ($breadcrumb-padding-vertical * 2)

