@import './variables'
@import './bootstrap'
@import "./../../../node_modules/bootswatch/cosmo/bootswatch"

// Reset
.progress
  height: 1em
  .progress-bar
    font-size: 1em
    line-height: 1em

// App
td
  vertical-align: middle !important

.modal-xl > .modal-dialog
  width: 95% !important
  margin-bottom: 0 !important

.modal-dialog
  max-width: 1200px

.modal-body
  overflow: auto
  // The following px are when modal-xl and modal-title is h3 and modal-footer is with buttons
  // height = 100vh - modal-title - modal-footer - margin-top - margin-botton
  max-height: calc(100vh - 68px - 84px - 30px - 30px)

pre
  word-break: break-word
  max-width: 60em

.form-group.required .control-label:after
  content: "*"
  color: red

button[ng-click], a, small[ng-click]
  cursor: pointer

/*Could go in devices/css*/

.clickable
  cursor: pointer

.not-selectable
  cursor: default
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.dh-wait
  cursor: wait

.text-danger-important
  color: $brand-danger !important

.popover-content
  min-width: 15em

.btn .caret
  margin-left: 0.25em

.table-striped
  td
    border-top: none !important

.table
  margin-bottom: 0 !important

.nav-pills
  background-color: $nav-pills-bg

.nav-pills > li:not(.active) > a
  color: $text-color
  i
    color: lighten($text-color, 25%)

a.text-success:hover
  color: $brand-success

h3, .h3
  margin-top: $line-height-computed / 2
  margin-bottom: ($line-height-computed / 2)

h3+h4
  margin-top: $line-height-computed / 4

