<div class="container-fluid" id="print-tags">
  <div class="row">
    <h2 class="col-lg-offset-1 col-xs-12" translate="printTags.title"></h2>
    <article class="col-sm-4 col-lg-2 col-lg-offset-1 fill-height-bar-h2">
      <dh-form form="form" submit="printTags.save" reset="printTags.reset"></dh-form>
      <hr>
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-success"
                  ng-click="pdf.print()"
                  dh-submit-button="loading">
            <i class="fa fa-file-pdf fa-fw"></i>
            <span translate="printTags.toPdf"></span>
          </button>
        </div>
      </div>
    </article>
    <article class="col-sm-8 col-lg-8 fill-height-bar-h2 tags">
      <tag ng-repeat="tag in ::tags" tag="tag" spec="form.model"></tag>
    </article>
  </div>
</div>
