<div class="btn-group" uib-dropdown is-open="status.isopen">
    <button
            id="share-button"
            type="button"
            class="btn"
            ng-class="{'btn-primary': devices.length > 0}"
            uib-dropdown-toggle
    >
        <i class="glyphicon glyphicon-share"></i>Share<span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" aria-labelledby="share-button">
        <li
                role="menuitem"
                ng-repeat="option in options"
                uib-tooltip-html="option.desc"
                tooltip-placement="right"
                tooltip-append-to-body="true"
        >
            <a ng-click="openModal(option.name, devices)">
                {{option.humanName}}
            </a>
        </li>
    </ul>
</div>
