<table class="table table-striped table-hover">
  <thead ng-hide="_teaser">
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="field in model | filter: filterTeaser ">
      <td>{{field.name}}</td>
      <td ng-if="$root._.isPlainObject(field.value) || $root._.isArray(field.value) && field.data_relation == undefined">
        <json-formatter json="field.value"></json-formatter>
      </td>
      <td ng-if="!$root._.isPlainObject(field.value) && !$root._.isArray(field.value) && field.data_relation == undefined">
        {{field.value}}&nbsp;{{field.unitCode}}
      </td>
      <td ng-if="field.data_relation != undefined">
        <div ng-if="$root._.isArray(field.value)">
          <span ng-repeat="value in field.value">
              <resource-button resource="{_id: value, '@type': Naming.type(field.data_relation.resource)}">
              </resource-button>
          </span>
        </div>
        <div ng-if="!$root._.isArray(field.value)">
          <resource-button resource="{_id: field.value, '@type': Naming.type(field.data_relation.resource)}">
          </resource-button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
