<div class="modal-header">
    <h3 class="modal-title">
        <resource-icon resource-type="{{model['@type']}}"></resource-icon>
        {{Naming.humanize(title)}}
    </h3>
</div>
<div class="modal-body">
    <form-schema
            model="model"
            options="options"
            status="status"
    ></form-schema>
</div>
<div class="modal-footer row">
    <div ng-if="status.working">
        <div class="spinner"></div>
    </div>
    <div class="col-xs-7">
        <div class="text-left" ng-show="!_.isEmpty(status.errorListFromServer)">
            <i class="fa fa-warning"></i>
            Cannot submit. Fix the following errors:
            <ul>
                <li ng-repeat="(key, value) in status.errorListFromServer">{{key}}: {{value}}</li>
            </ul>
        </div>
        <div ng-if="status.errorFromLocal"><i class="fa fa-warning"></i>Cannot submit. Check the form and
            repair the errors.
        </div>
    </div>
    <div class="col-xs-5" ng-show="!status.working">
        <button type="submit" form="form-schema" class="btn btn-primary submit-button">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button ng-if="options.canDelete" type="button" ng-click="options.delete(model)" class="btn btn-danger">Delete
        </button>
    </div>
</div>
