<header-nav class="show" ></header-nav>
<section ui-view></section>
<footer id="footer">
  <span id="links">
    <a href="https://github.com/eReuse/devicehubclient#introduction" target="_blank">Manual</a>
    <a href="https://github.com/eReuse/DeviceHubClient/issues" target="_blank">Feedback</a>
    <a href="https://github.com/eReuse/DeviceHubClient/tree/master/legal" target="_blank">Legal</a>
    <event-explanation></event-explanation>
    <resource-list-footer></resource-list-footer>
  </span>
  <a href="https://www.ereuse.org" target="_blank"><img src="common/assets/ereuse-logo.svg"></a>
</footer>
