<header-nav class="show"></header-nav>
<section ui-view></section>
<footer id="footer">
  <span id="links">
    <a href="https://www.devicetag.io/support/" target="_blank">Support</a>
    <a class="hidden-xs"
       href="https://github.com/eReuse/DeviceHubClient/issues" target="_blank">Feedback</a>
    <a class="hidden-xs"
       href="https://github.com/eReuse/DeviceHubClient/tree/master/legal" target="_blank">Legal</a>
    <event-explanation></event-explanation>
    <resource-list-footer></resource-list-footer>
  </span>
  <a class="hidden-xs visible-sm visible-md visible-lg"
     href="https://www.ereuse.org"
     target="_blank"
  >
    <img src="common/assets/ereuse-logo.svg">
  </a>
</footer>
