<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 translate="workbench.link.title"></h2>
            <div class="fill-height-bar-h2">
                <ul class="list-inline">
                    <li><i class="fa {{::usb.snapshot.device.icon}}"></i>
                    <li>{{::usb.snapshot.device.manufacturer}}
                    <li>{{::usb.snapshot.device.model}}
                    <li>{{::usb.snapshot.device.serialNumber}}
                </ul>
                <dh-form form="form" submit cancel></dh-form>
            </div>
        </div>
    </div>
</div>

