<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h2>Workbench Computer</h2>
    </div>
    <div class="col-sm-8 text-right">
      <workbench-link-button usbs="info.usbs"></workbench-link-button>
    </div>
    <div class="col-xs-12 hidden-xs">
      <ul class="list-inline text-center text-muted">
        <li translate="workbench.computer.working" translate-value-num="{{info.working}}">
        <li class="text-info"
            translate="workbench.computer.link"
            translate-value-num="{{info.phases.Link}}">
        <li class="text-success"
            translate="workbench.computer.done"
            translate-value-num="{{info.phases.Done}}">
        <li class="text-warning"
            translate="workbench.computer.error"
            translate-value-num="{{info.phases.Error}}">
        <li ng-show="info.attempts === 0">
          <i class="fa fa-link"></i>
          <span translate="workbench.computer.upload.info"
                translate-value-user="{{::session.user}}">
        </span>
        </li>
        <li ng-show="info.attempts > 0">
          <i class="fa fa-unlink"></i>
          <span translate="workbench.computer.upload.error"></span>
        </li>
        <li>
          <i class="fa fa-fw fa-cloud"></i>
          {{info.ip}}
        </li>
        <li>
          <i class="fa fa-mobile"></i>
          <i class="fa fa-wifi"></i>
          {{::'workbench.computer.wifi' | translate:'{name: "BOX", pass: "eReuse.org"}'}}
        </li>
        <li>
          <button ng-click="clean()" class="btn btn-link text-warning">
            <i class="fa fa-trash"></i>
            {{::'workbench.computer.clean.button' | translate}}
          </button>
        </li>
      </ul>
      <div ng-show="info.attempts === 1" class="text-warning text-center">
        <i class="fa fa-warning"></i>
        <span translate="workbench.computer.upload.unstable"
              translate-value-app="{{::$root.CONSTANTS.appName}}">
        </span>
        <span translate="workbench.computer.upload.check"></span>
      </div>
    </div>
    <div ng-show="info.attempts >= 2" class="alert alert-danger text-center">
      <i class="fa fa-warning fa-lg"></i>
      <span translate="workbench.computer.upload.lost"
            translate-value-app="{{::$root.CONSTANTS.appName}}"></span>
      <span translate="workbench.computer.upload.check"></span>
    </div>
    <div class="col-xs-12 fill-height-bar-h2">
      <table class="table table-striped">
        <thead>
        <tr>
          <th ng-repeat="Field in ::table.fields track by Field.type"
              class="{{::Field.cssClasses}}"
          >
            {{::Field.name}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="snapshot in info track by snapshot.uuid"
            ng-class="{
            info: snapshot.phase === WorkbenchComputerPhase.Link,
            success: snapshot.phase === WorkbenchComputerPhase.Uploaded,
            warning: snapshot.phase === WorkbenchComputerPhase.Error
          }"
        >
          <td ng-repeat="Field in ::table.fields track by Field.name"
              class="{{::Field.cssClasses}}"
          >
            <span ng-if="::Field.html">
              <span ng-bind-html="Field.init(snapshot).content"></span>
            </span>
            <span ng-if="::!Field.html">
              {{Field.init(snapshot).content}}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <i class="fa fa-ellipsis-h"></i>
      </div>
    </div>
  </div>
</div>
