<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 translate="workbench.settings.title"></h2>
      <div class="fill-height-bar-h2">
        <form ng-submit="form.submit()" novalidate>
          <formly-form model="form.model" fields="form.fields" form="form.form" options="form.options">
            <button type="submit" class="btn btn-primary submit-button" dh-submit-button="loading">
              <span translate="workbench.settings.submit"></span>
            </button>
            <button type="button" class="btn btn-danger" onclick="history.back()">
              <span translate="workbench.settings.cancel"></span>
            </button>
          </formly-form>
        </form>
      </div>
    </div>
  </div>
</div>

