<article class="device">
    <div ng-if="device._id != null">
        <uib-tabset id="subviews" active="activeTab">
            <uib-tab ng-repeat="tab in tabs" select="setActive(tab)">
                <uib-tab-heading>
                    <i class="{{tab.uiClass}}"></i>&nbsp;{{tab.heading}}
                </uib-tab-heading>
                <div ng-if="tab.isActive">
                    <div class="fill-height" ng-include="tab.templateUrl">

                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div ng-if="device._id == null" id="no-device"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Select a device.
    </div>
</article>
