<div>
  <p>
    Reserve made for <resource-button resource="account"></resource-button>.
    Click <em>Devices</em> tab to see the reserved devices.
  </p>
  <div class="text-center">
    <button type="button" class="btn btn-default" ng-click="sell()">
      <resource-icon resource-type="devices:Sell"></resource-icon>
      Sell the devices
    </button>
    <button type="button" class="btn btn-default" ng-click="cancelReservation()">
      <resource-icon resource-type="devices:CancelReservation"></resource-icon>
      Cancel the reservation
    </button>
  </div>
</div>
