<article ng-if="resource['@type'] !== 'Device'">
  <div class="media">
    <div class="media-body">
      <h3 class="media-heading">
        {{::resource['@type']}} {{::resource.type}} {{::resource.model}}
      </h3>
      <h4>
        <ul class="list-inline">
          <li>{{::resource.manufacturer}}</li>
          <li ng-if="::resource.serialNumber">S/N {{::resource.serialNumber | limitTo: 30}}</li>
          <li ng-if="::resource.pricing.total">{{::resource.pricing.total | currency: currencyOptions.currency}}</li>
        </ul>
      </h4>
    </div>
    <div class="media-right hidden-xs hidden-sm">
      <a target="_blank" ng-if="::manufacturer.logo" href="{{::manufacturer.url}}">
        <img class="media-object" ng-src="{{::manufacturer.logo}}">
      </a>
      <a target="_blank" ng-if="::processorManufacturer.logo" href="{{::processorManufacturer.url}}">
        <img class="media-object" ng-src="{{::processorManufacturer.logo}}">
      </a>
    </div>
  </div>
  <div class="row">
    <article class="col-lg-4" ng-if="::resource.pricing.refurbisher.standard && type !== 'small'">
      <h3>Pricing</h3>
      <div class="text-center">
        <div class="btn-group btn-group-sm">
          <h4 class="text-left">Warranty</h4>
          <label class="btn btn-primary">
            <input type="radio" ng-model="currencyOptions.val" value="standard">
            Standard
          </label>
          <label class="btn btn-primary"
                 ng-disabled="::!resource.pricing.refurbisher.warranty2"
                 uib-tooltip="No 2 year warranty option for this device."
                 tooltip-enable="::!resource.pricing.refurbisher.warranty2"
          >
            <input ng-disabled="::!resource.pricing.refurbisher.warranty2"
                   type="radio"
                   ng-model="currencyOptions.val"
                   value="warranty2">
            2 year warranty
          </label>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>%</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="roleName in currencyOptions.roles">
            <td>{{::roleName | humanize}}</td>
            <td>{{resource.pricing[roleName][currencyOptions.val].percentage | percentage}}</td>
            <td>{{resource.pricing[roleName][currencyOptions.val].amount | currency: currencyOptions.currency }}</td>
          </tr>
          <tr class="active">
            <td>Total</td>
            <td></td>
            <td>{{resource.pricing.total[currencyOptions.val] | currency: currencyOptions.currency}}</td>
          </tr>
        </tbody>
      </table>
    </article>

    <article ng-class="{'col-lg-8': resource.pricing.refurbisher.standard && type !== 'small'}">
      <h3>Condition score</h3>
      <table class="table" id="device-dashboard-condition">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Condition</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="::resource.processorModel">
            <td>
              <resource-icon resource-type="Device" resource-subtype="Processor"></resource-icon>
            </td>
            <td>Processor</td>
            <td>{{::resource.processorModel}}</td>
            <td class="text-right">
              <device-range score="resource.condition.components.processors"></device-range>
            </td>
          </tr>
          <tr ng-show="::resource.totalHardDriveSize">
            <td>
              <resource-icon resource-type="Device" resource-subtype="HardDrive"></resource-icon>
            </td>
            <td>
              Hard drive
            </td>
            <td>{{::resource.totalHardDriveSize | number}} {{::hardDriveSizeUnit}}</td>
            <td class="text-right">
              <device-range score="resource.condition.components.hardDrives"></device-range>
            </td>
          </tr>
          <tr ng-show="::resource.totalRamSize">
            <td>
              <resource-icon resource-type="Device" resource-subtype="RamModule"></resource-icon>
            </td>
            <td>
              RAM
            </td>
            <td>{{::resource.totalRamSize | number}} {{::ramSizeUnit}}</td>
            <td class="text-right">
              <device-range score="resource.condition.components.ram"></device-range>
            </td>
          </tr>
          <tr ng-show="::graphicCard">
            <td>
              <resource-icon resource-type="Device" resource-subtype="GraphicCard"></resource-icon>
            </td>
            <td>
              Graphics
            </td>
            <td>{{::graphicCard.model}} {{::graphicCard.manufacturer}}</td>
            <td>
            </td>
          </tr>
          <tr ng-show="::resource.condition.appearance.general">
            <td>
              <i class="fa fa-fw fa-eye"></i>
            </td>
            <td>Appearance</td>
            <td>
            </td>
            <td class="text-right"
                uib-tooltip="{{::appearance[resource.condition.appearance.general]}}">
              <span class="label label-primary">{{::resource.condition.appearance.general}}</span>
            </td>
          </tr>
          <tr ng-show="::functionality[resource.condition.functionality.general]">
            <td>
              <i class="fa fa-fw fa-wrench"></i>
            </td>
            <td>Functionality</td>
            <td>
            </td>
            <td class="text-right" uib-tooltip="{{::functionality[resource.condition.functionality.general]}}">
              <span class="label label-primary">{{::resource.condition.functionality.general}}</span>
            </td>
          </tr>
          <tr class="active" ng-show="::resource.condition.general.range">
            <td><i class="fa fa-fw fa-line-chart"></i></td>
            <td>Total condition</td>
            <td></td>
            <td class="text-right">
              <big>
                <device-range score="resource.condition.general.score"></device-range>
              </big>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>
</article>
<article ng-if="resource['@type'] === 'Device'">
  <div class="alert alert-info">
    This is a <strong>placeholder</strong>, a printed tag, waiting to be linked to a computer.
  </div>
</article>

