<div fill-height additional-padding="{{87+20}}" footer-element-id="footer">
<div class="list-group">
        <h3 class="row">
            <span class="col-xs-10">Places</span>
            <small class="col-xs-2" ng-click="openModal(null)"><i class="glyphicon glyphicon-plus"></i></small>
        </h3>
    <a class="list-group-item" ng-repeat="place in places" ng-click="broadcastSelectedPlace(place._id)"
            ng-class="{active: isSelected(place._id)}">
        <i ng-click="openModal(place)" style="float: right" class="glyphicon glyphicon-edit"></i>
       {{place.label}}
    </a>
</div>
</div>