place-nav-widget .list-group-item i{
    display: none;
}

place-nav-widget .list-group-item:hover i{
    display: block;
}

.angular-google-map-container { height: 500px; }
@media screen and (max-height: 700px) {
    .angular-google-map-container { height: 300px; }
}