<div ng-include="'app/resources/modal/header.html'"></div>
<div class="modal-body" ng-switch="type">
    <form name="placeForm" id="placeForm" class="form-horizontal" ng-submit="upload(newPlace, polygons)" show-validation>
        <div class="form-group">
            <label for="label" class="col-xs-3">Name</label>
            <div class="col-xs-9">
                <input type="text" id="label" class="form-control"
                       ng-model="newPlace.label" placeholder="A name or label identifying the place" required>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-xs-3">Type</label>
            <div class="col-xs-9">
                <select id="type" class="form-control" ng-model="newPlace.type">
                    <option value="Department">Department</option>
                    <option value="Zone">Zone</option>
                    <option value="Warehouse">Warehouse</option>
                    <option value="CollectionPoint">Collection Point</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="map" class="col-xs-3">(Optional) Set the area of the place:</label>
        </div>
        <div ng-if="map != null" id="map">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'>

                <ui-gmap-polygon static="false" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>

            </ui-gmap-google-map>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="placeForm" class="btn btn-primary" ng-click="area(true)">Create place with the selected area</button>
    <button type="submit" form="placeForm" class="btn btn-primary" ng-click="area(false)">Create place without an area</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>