.labelWidget {
  width: 20em;
  background-color: white;
  border: 1px solid grey;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  > div:first-child {
    text-align: center;
    height: 44%;
  }
  > div:last-child > * {
    display: inline-block;
  }
  qrcode, table {
    vertical-align: middle;
  }
  qrcode {
    margin-left: 2%;
  }
  table {
    font-size: 19px;
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    tr {
      &:not(:first-child) td:last-child {
        border-top: 1px solid;
      }
      > td:last-child {
        text-align: right;
        width: 100%;
      }
    }
    &.t73{
      width: 73%  /*125*/
    }
    &.t69{
      width: 69%  /*90*/
    }
    &.t64{
      width: 64% /*100*/
    }
    &.t60{
      width: 60% /*90*/
    }
    &.t55{
      width: 55% /*80*/
    }
    &.t53{
      width: 53% /*70*/
    }
  }
  &.no-logo {
    > div:first-child {
      display: none;
    }
    > div:last-child {
      margin-top: 1mm;
    }
  }
}



