<ul class="list-group">
    <li ng-repeat="fieldType in activeModel"
        ng-init="title=fieldType[0]; aggregates=fieldType[1]"
        class="list-group-item">
        <h4 class="list-group-item-heading">{{::title}}</h4>
        <table class="table table-responsive table-striped table-condensed">
            <tbody>
            <tr ng-repeat="aggr in aggregates">
                <td>{{::aggr.value}}</td>
                <td class="text-right">{{::aggr.count}}</td>
            </tr>
            </tbody>
        </table>

    </li>
</ul>
