@import '_resource-list.directive'

resource-list
  #screener
    display: inline-block
    position: relative
    > :first-child
      width: 100%
      height: 100%
      z-index: 1
      position: absolute
      cursor: not-allowed

  resource-icon img
    max-width: 2em

  .blink
    // from @extend input[type="checkbox"]:focus
    outline: 4px auto -webkit-focus-ring-color
    outline-offset: -2px

  .fill-height
    height: calc(100vh - #{$headerHeight} - #{$footerHeight} - 2 * #{$optionsMenuHeight} - #{$searchHeight})
    overflow-y: auto

  #resource-list-table tr
    *
      &:first-child
        white-space: nowrap

      .resource-list-checkbox
        zoom: 1.5
        -moz-transform: scale(1.5)

    td
      padding-top: 1vh !important
      padding-bottom: 1vh !important
      user-select: none
      cursor: pointer

    th
      padding-top: 0 !important

  resource-view
    .fill-height
      // - 2 * (everything we had in .fill-height above) but calc does not allow 2 * (parenthesis) so we get it by
      // applying the distributive property
      height: calc(100vh - #{$headerHeight} - 2 * #{$footerHeight} - 2 * #{$optionsMenuHeight} - 2 * #{$tabsHeight} - 2 * #{$searchHeight}) !important
