@import '_resource-list.directive'

.breadcrumb
  padding: 6px 0
  font-size: 22px
  li + li:before
    padding: 0 5px 0 15px
  resource-icon
    font-size: 1em
    line-height: inherit
  a
    color: grey
    text-decoration: none
    &:hover
      text-decoration: none

.resource-list
  background-color: #f4f4f4
  padding: 15px

  .current-lot
    padding: 15px 30px 30px 30px

  .breadcrumb
    margin-bottom: 0
    background-color: transparent

  #screener
    display: inline-block
    position: relative
    > :first-child
      width: 100%
      height: 100%
      z-index: 1
      position: absolute
      cursor: not-allowed

  resource-icon img
    max-width: 2em

  #buttons
    margin-top: 30px
    text-align: right
    .btn
      padding-top: 0.25em
      padding-bottom: 0.25em

  .blink
    // from @extend input[type="checkbox"]:focus
    outline: 4px auto -webkit-focus-ring-color
    outline-offset: -2px

  .fill-height-bar
    height: calc(100vh - #{$navbar-height} - #{$footerHeight} - #{$optionsMenuHeight})
    overflow-y: auto
    @media (max-width: $screen-xs-max)
      height: calc(100vh - #{$navbar-height} - #{$footerHeight})

  #resource-list-table tr
    *
      &:first-child
        white-space: nowrap

      .resource-list-checkbox
        zoom: 1.5
        -moz-transform: scale(1.5)

    td
      user-select: none
      cursor: pointer

    th
      padding-top: 0 !important
    .label
      display: block

.selection
  padding: 30px
  border-left: 2px solid $main-nav-bg
  box-shadow: -5px -3px 10px -7px #999
  background-color: #ffffff
  ul
    padding: 0

.children-lots
  ul
    padding: 0
    li
      list-style: none
      display: inline-flex
      border-radius: 4px
      padding: 5px
      border: 1px solid
      margin-bottom: 6px
      background-color: white
      &:not(:last-child)
        margin-right: 6px
      a
        color: #333333
        text-decoration: none

#device-dashboard-components td:last-child span
  display: block

.pill-deselect-selected-in-lot
  list-style: none
  display: inline-flex
  border-radius: 4px
  padding: 5px
  border: 1px solid #666666
  margin-bottom: 6px
  background-color: white
  cursor: pointer
  button
    background-color: transparent
    padding: 0
    &.btn:hover, &.btn:focus, &.btn.focus
      color: #333333
  &:not(:last-child)
    margin-right: 6px

.selection-summary
  margin-bottom: 0
  li
    list-style: none
    outline: none !important
    &:first-child > button
      border-top-left-radius: 5px
      border-top-right-radius: 5px
    &:last-child > button
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
    &:not(:first-child) > button
      border-top: none
    button
      background-color: white
      color: #333333
      box-shadow: none
      border: 1px solid #bfbfbf

      width: 100%
      text-align: left
      &.btn:hover, &.btn:focus, &.btn.focus, &.btn:active
        box-shadow: none
        outline: none
        background-color: #449bb4
        border-color: white
        color: white
        .fa
          display: block
          color: white
      .selection-summary-title
        display: block
      .selection-summary-content
        font-size: 18px
      .fa
        float: right
        font-size: 22px
        display: none



.selection-details-panel
  border: 1px solid #bfbfbf
  border-radius: 5px
  position: absolute
  top: 0
  width: 100%
  height: 100%
  background-color: white
  left: 100%
  transition: all 700ms
  //overflow-x: hidden
  //overflow-y: scroll
  &.active
    left: 0
  .selection-details-content-wrapper
    position: relative
    padding: 0
    width: 100%
    height: 100%
    .selection-details-content-container
      position: absolute
      top: 0
      width: 100%
      height: 100%
      padding: 0
      overflow-x: hidden
      .selection-details-content
        padding: 15px
        .btn-hide-details
          float: left
          padding: 4px 10px
          margin-right: 5px
          border-radius: 5px
          color: #333333
          &.btn:hover, &.btn:focus, &.btn.focus, &.btn:active
            color: #333333
        .components > .table
          max-width: 650px
        .condition-score
          td:last-child span
            display: block
        .type
          .descriptor
            margin-bottom: 30px
        .status-selector
          display: -webkit-box
          display: -webkit-flex
          display: -ms-flexbox
          display: flex
          flex-wrap: wrap
          margin-top: 20px
          .btn
            height: 100%
            text-align: center
            align-items: center
            display: -webkit-box
            display: -webkit-flex
            display: -ms-flexbox
            display: flex
            justify-content: center
            background-color: #ffffff
            border-radius: 5px
            border: 1px solid grey
            h4
              font-size: 22px
            &.btn:hover, &.btn:focus, &.btn.focus
              color: #333333




