<!-- Listing -->
<div class="row">
  <nav id="lots"
       class="col-xs-12 col-sm-2 col-md-2 col-lg-2 fill-height-bar"
       ng-class="{'hidden-xs': lotsSelectionHiddenXS}">
    <button class="btn btn-sm btn-dark visible-xs"
            style="float: right"
            ng-click="lotsSelectionHiddenXS = !lotsSelectionHiddenXS">
      <h2><i class="fa fa-times fa-fw"></i></h2>
    </button>
    <lots-tree-navigation on-selection-changed="onLotsSelectionChanged(selected)">
    </lots-tree-navigation>
  </nav>
  <div id="main-row"
       class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
       ng-show="selectionPanelHiddenXS">
    <div id="lot-row" ng-if="lotsM.lots.length">
      <div class="btn-group pull-right">
        <button type="button"
                class="btn btn-link hidden-xs"
                ng-click="lotsM.selector.deselectAll()"
        >
          Deselect all ({{lotsM.lots.length}})
        </button>
        <button class="btn btn-primary" ng-click="lotsM.deleteSelection()">
          <i class="fa fa-times fa-fw"></i>
          Delete lots
        </button>
        <group-resource-button
            success="lotsM.reload()"
            resource-type="Lot"
            get-resources="lotsM.selector.getAllSelected()"
            register-to-resources-update="lotsM.selector.callbackOnSelection(callback)">
        </group-resource-button>
      </div>
      <h2 class="hidden-xs">
        {{lotsM.title}}
        <button type="button"
                class="btn btn-sm btn-dark visible-xs-inline-block"
                ng-click="showLots()">
          <i class="fa fa-folder-o fa-fw"></i>
          Select lot
        </button>
      </h2>
      <div ng-show="lotsM.lots.length === 1" class="lot-description">
        <resource-field-edit resource="selectedLots[0]"
                             field="{ key: 'description', value: selectedLots[0].description, editable: true }">
          {{ lotsM.lots[0].description }}
        </resource-field-edit>
      </div>
    </div>
    <div class="col-xs-12 fill-height-bar">
      <div ng-hide="lotsM.lots.length">
        <h2>All devices</h2>
        <button type="button"
                class="btn btn-sm btn-dark visible-xs-inline"
                style="margin-bottom: 8px; font-size: 16px; margin-left: 10px;"
                ng-click="showLots()">
          <i class="fa fa-folder-o fa-fw"></i>Select lot
        </button>
      </div>
      <h3 ng-show="lotsM.lots.length">Devices in lots</h3>
      <resource-search on-update="getter.setSearch(text)"></resource-search>
      <div class="pull-right">
        <button type="button"
                class="btn btn-link btn-sm"
                ng-show="!selected.length"
                ng-click="selected.selectAll()"
        >
          Select all devices ({{getter.devices.pagination.total}})
        </button>
        <button type="button"
                class="btn btn-link btn-sm"
                ng-show="selected.length"
                ng-click="selected.deselectAll()"
        >
          Deselect all devices ({{selected.length}})
        </button>
      </div>
      <resource-list-filters on-update="getter.setFilters(filters)"></resource-list-filters>
      <div class="devices">
        <table id="device-list-table"
               class="table table-striped table-hover unselectable table-condensed">
          <thead>
          <tr>
            <th ng-repeat="Field in ::config.table track by Field.type"
                class="{{::Field.cssClasses}}"
                field-sort
                sort="getter.setSort(key, order)"
                key="{{::Field.sortKey}}"
                name="{{::Field.name}}"
                group="_sort"
                sort-by-default="Field.type === 'Updated'"
            >
              {{::Field.name}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="device in getter.devices track by device.id"
              ng-class="{info: selected.isSelected(device)}"
              ng-click="selected.toggle(device, $index, $event)"
              on-long-press="selected.multi(device)"
          >
            <td ng-repeat="Field in ::config.table"
                ng-init="field = Field.init(device)"
                class="{{::Field.cssClasses}}"
            >
              <span ng-bind-html="field.content"></span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="text-center">
          <i class="fa"
             ng-class="{
              'fa-spinner fa-spin fa-lg': getter.working,
              'fa-ellipsis-h': !getter.working && !getter.nextPage
              }"></i>
        </div>
      </div>
    </div> <!-- ./col-sm-6 -->
  </div>
  <!-- Selection -->
  <aside class="selection col-xs-12 col-sm-4 col-md-4 col-lg-4 fill-height-bar">
    <div ng-if="!selected.length" class="selection-empty">
      <div>
        <h4>Select a device to view its details</h4>
        <p>Hold <kbd>Ctrl</kbd> or <kbd>Shift</kbd> to select multiple devices.</p>
      </div>
    </div>
    <h3 ng-show="selected.length">
      Selected devices — {{selected.length}}
      <button type="button"
              class="btn btn-link btn-xs"
              ng-click="selected.deselectAll()">
        Deselect all
      </button>
    </h3>
    <div class="buttons text-center" ng-if="selected.length">
      <group-resource-button
          success="getter.reload()"
          resource-type="Device"
          get-resources="selector.getAllSelectedDevices()"
          register-to-resources-update="selector.callbackOnSelection(callback)">
      </group-resource-button>
      <manual-events-button selector="selector"></manual-events-button>
      <certificate-button></certificate-button>
      <button class="btn btn-primary"
              clipboard
              text="selection.props.urls.join(' \n')"
              on-copied="Notification.success('Device URLs copied to clipboard')"
              on-error="Notification.error('Device URLs could not be copied: ' + err)">
        Public link
      </button>
    </div>
    <device-list-summary ng-if="selected.length" devices="selected"></device-list-summary>
  </aside>
  <!-- Selection button-->
  <div class="selection-button visible-xs visible-sm"
       ng-show="selected.length"
       ng-click="selectionPanelHiddenXS = !selectionPanelHiddenXS">
    <button ng-show="selectionPanelHiddenXS" class="btn btn-primary btn-view-selected">
      View selected devices
      <span class="badge">{{selected.length}}</span>
    </button>
    <button ng-show="!selectionPanelHiddenXS" class="btn btn-primary btn-view-list">
      Back to device list
    </button>
  </div>
</div>

