<!-- Resource Filters -->
<div class="row">
  <resource-search class="col-md-10 col-xs-offset-0 col-md-offset-1 show subview-12 subview-offset-0"
                   settings="config.search.params"
                   on-params-changed="onSearchParamsChanged(params)"
                   default-params="config.search.defaultParams"
  ></resource-search>
</div>

<h2>Lots ({{ getLots().length }})</h2>
<div infinite-scroll="getMoreLots()" infinite-scroll-distance='0.8' infinite-scroll-use-document-bottom="false"
     infinite-scroll-parent infinite-scroll-disabled="getMoreLotsIsBusy || !morePagesAvailableLots"
     infinite-scroll-listen-for-event="list:filtered"
>
  <ul>
    <li
            ng-repeat="lot in getLots()"
    >
      <a href="#" ng-click="openFull(lot)">
        {{ lot.label }}
      </a>
    </li>
  </ul>
</div>

<h2>Devices</h2>
<span>{{getTotalNumberOfDevices() }} in total, {{getDevices().length }} shown</span>
<button type="button"
        class="btn"
        ng-class="{'btn-primary': getDevices().length > 0}"
        ng-show="selector.getNumberOfSelectedDevicesInLot(parentResource._id) !== getDevices().length"
        ng-click="selector.selectAll(getDevices())"
>
  <span><i class="fa fa-select fa-fw"></i>Select all</span>
</button>
<button type="button"
        class="btn"
        ng-class="{'btn-primary': getDevices().length > 0}"
        ng-show="selector.getNumberOfSelectedDevicesInLot(parentResource._id) === getDevices().length"
        ng-click="selector.deselectAll(getDevices())"
>
  <span><i class="fa fa-select fa-fw"></i>Deselect all</span>
</button>
<!-- Listing -->
<div class="row">
  <div
    ng-class="'col-xs-2 col-sm-4 col-lg-5'"
    class="fill-height-bar"
  >
    <div infinite-scroll="getMore()" infinite-scroll-distance='0.8' infinite-scroll-use-document-bottom="false"
         infinite-scroll-parent infinite-scroll-disabled="getMoreIsBusy || !morePagesAvailable"
         infinite-scroll-listen-for-event="list:filtered"
    >
      <table id="resource-list-table" class="table table-striped table-hover">
        <thead>
          <tr>
            <th ng-repeat="th in config.table.th"
                field-sort sort="setSort(sort)" key="{{::th.key}}" name="{{::th.name}}" group="sort"
                sort-by-default="th.default"
            ></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="resource in devices track by resource._id"
              ng-class="{info: selector.isSelected(resource)}"

              ng-init="popover = popovers[resource._id]"

              uib-popover-template="::popovers.templateUrl"
              popover-enable="popovers.enable"
              popover-title="{{::popover.title}}"
              popover-is-open="popover.isOpen"
              popover-trigger="click"
              popover-append-to-body="true"
              popover-placement="{{popoverPlacement}}"
              popover-class="resource-button-popover"

              ng-click="toggleSelect(resource, $event, $index)"
          >

          <!--<td ng-class="{'hidden-xs': subResource.resource}">
            <input class="resource-list-checkbox"
                   type="checkbox"
                   ng-click=""
                   ng-model="selector.checkboxes[resource['_id']]"
                   ng-class="{blink: hoverScreener && resource._id === devices[0]._id && inList.length == 0}"
            >
          </td>-->
            <!-- $evalasync from https://stackoverflow.com/a/31352712 -->
            <td ng-repeat="td in ::config.table.td"
                ng-init="value = $root._.get(resource, td.value)"
            >
              <div ng-if="::td.templateUrl" ng-include="td.templateUrl"></div>
              <div ng-if="::value && !$root._.isDate(value)">
                <!-- We cannot use the value from ng-init if we want it to be updateable -->
                <span ng-if="::td.humanize">
                  {{::$root._.get(resource, td.value) | humanize}}
                </span>
                <span ng-if="::td.number">
                  {{::$root._.get(resource, td.value) | number}}
                </span>
                <!-- For now only label can be changed from a resource without refreshing the list, and label field
                falls in here -->
                <span ng-if="::!td.humanize && !td.number">
                  <!-- Let's show more characters if we have a lg screen -->
                  <span class="hidden-lg">
                    {{$root._.get(resource, td.value) | limitTo: (td.limitTo || 15)}}
                    <small ng-show="$root._.get(resource, td.value).length > (td.limitTo || 15)">&hellip;</small>
                  </span>
                  <span class="hidden-xs hidden-sm hidden-md">
                    {{$root._.get(resource, td.value) | limitTo: (td.limitTo || 15) + 7}}
                    <small ng-show="$root._.get(resource, td.value).length > (td.limitTo || 15) + 7">&hellip;</small>
                  </span>
                </span>
              </div>
              <div ng-if="::value && $root._.isDate(value)">{{value | timeAgo}}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <i
          ng-class="{
                      'fa fa-circle-o-notch fa-spin fa-lg': getMoreIsBusy && morePagesAvailable,
                      'fa fa-ellipsis-h fa-lg': !morePagesAvailable
                    }
                   "
        ></i>
      </div>
    </div>
  </div>
  <!-- SubResource in right-bar -->
  <aside class="col-xs-10 col-sm-8 col-lg-7" id="aside-subResource">
    <div ng-if="selector.getAllSelectedDevices().length === 0">
      <h4>Summary</h4>
      <h3>{{ parentResource.summary.totalNumberDevices }} devices in lot</h3>
      <ul>
        <li>Device: {{parentResource.summary.deviceType}}</li>
        <li>Status: {{parentResource.summary.status}}</li>
        <li>Price: {{parentResource.summary.price}}, Range: {{parentResource.summary.range}}</li>
        <li>Components: {{parentResource.summary.components}}</li>
        <li>Donors: {{parentResource.summary.donors.join(',')}}, Owner: {{parentResource.summary.owner}}, Distributor:{{parentResource.summary.distributor}}</li>
        <li>Possessor: {{parentResource.summary.possessor}}, Location: {{parentResource.summary.location}}</li>
        <li>Events: {{parentResource.summary.events.join('')}}</li>
      </ul>
    </div>

    <div ng-if="selector.getAllSelectedDevices().length > 0">
      <h4>Current selection: {{selector.getAllSelectedDevices().length}} devices in {{selector.getNonEmptyLotsAsList().length }} lots</h4>
      <ul>

        <li
          ng-repeat="lot in selector.getNonEmptyLotsAsList() track by lot._id"
          >
          {{ lot.lot.label }} ({{ lot.selectedDevices.length }})
          <button type="button"
                  class="btn"
                  ng-click="selector.deselectAll(lot.selectedDevices)"
          >
            <span><i class="fa fa-select fa-fw"></i>Deselect</span>
          </button>
        </li>
      </ul>
      <ul>
        <!--'serialNumber': 'foo',
        '@type': 'Computer',
        'type': 'Microtower',
        'placeholder': false,
        'components': ['2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
        'processorModel': 'Intel(R) Atom(TM) CPU 330 @ 1.60GHz',
        'totalRamSize': 2048
        'totalHardDriveSize': 305245.3359375,
        'manufacturer': 'barx',
        'model': 'bar',
        'condition': {
          'components': {'ram': 1.54, 'hardDrives': 3.82, 'processors': 3.59},
          'appearance': {'score': 0.0, 'general': 'B'},
          'functionality': {'score': -0.5, 'general': 'B'},
          'general': {'range': 'Low', 'score': 2.09},
        },
        'pricing': {
          'total': {'standard': 57.6},
          'platform': {'standard': {'percentage': 0.3, 'amount': 17.78}},
          'retailer': {'standard': {'percentage': 0.18, 'amount': 10.87}},
          'refurbisher': {'standard': {'percentage': 0.5, 'amount': 28.94}}
        },
        'events': [{
          'label': 'Test',
          '_updated': '2018-04-20T09:32:16',
          'secured': false,
          'incidence': false,
          '@type': 'devices:Sell',
          '_id': '5ad9b3a0a0961e1c60fa6c38',
          'byUser': '5acfa56aa0961e1b7f28c34a',
          'to': {'email': 'x.bustamante@ereuse.org'}
          },
          ...
        ]-->
        <li>Device: {{selector.getAggregatedPropertyOfSelected('@type', 'Various types')}} {{selector.getAggregatedPropertyOfSelected('type', 'Various subtypes')}} {{selector.getAggregatedPropertyOfSelected('manufacturer', '')}} {{selector.getAggregatedPropertyOfSelected('model', '')}}</li>
        <li>Status: {{selector.getAggregatedPropertyOfSelected('status')}}</li>
        <li>Price: {{selector.getRangeOfPropertyOfSelected('price')}}</li>
        <li>Components: {{selector.getAggregatedPropertyOfSelected('processorModel')}}, {{selector.getAggregatedPropertyOfSelected('totalHardDriveSize', 'Various', ' GB HardDrive')}}, {{selector.getAggregatedPropertyOfSelected('totalRamSize', 'Various', ' MB RAM')}}</li>
        <li>Donor: {{selector.getAggregatedPropertyOfSelected('donor') || 'No donor'}}, Owner: {{selector.getAggregatedPropertyOfSelected('donor') || 'No owner'}} , Distributor: {{selector.getAggregatedPropertyOfSelected('distributor') || 'No distributor' }} </li>
      </ul>

      <!--<ul> TODO summary for all selected devices (total)
        <li>Device: {{selector.total.summary.deviceType}}</li>
        <li>Status: {{selector.total.summary.status}}</li>
        <li>Price: {{selector.total.summary.price}}, Range: {{selector.total.summary.range}}</li>
        <li>Components: {{selector.total.summary.components}}</li>
        <li>Donors: {{selector.total.summary.donors.join(',')}}, Owner: {{selector.total.summary.owner}}, Distributor:{{selector.total.summary.distributor}}</li>
        <li>Possessor: {{selector.total.summary.possessor}}, Location: {{selector.total.summary.location}}</li>
        <li>Events: {{selector.total.summary.events.join('')}}</li>
      </ul>-->
    </div>

    <!-- Buttons -->
    <div id="buttons" class="row text-center">
      <resource-label-button></resource-label-button>
      <!--<manual-events-button resources="selector.getAllSelectedDevices()"></manual-events-button>-->
      &lt;!&ndash;<share devices="selector.getAllSelectedDevices()"></share>&ndash;&gt;
      <certificate-button></certificate-button>
      <!--
      <group-resource-button resources="selector.getAllSelectedDevices()"
                             resource-type="Device"
                             success="reload()"
      ></group-resource-button>
      <resource-export resources="selector.getAllSelectedDevices()"></resource-export>-->
    </div>
  </aside>
</div>

