<div class="row" ng-if="$root._.isArray(snapshots)">
  <ul class="list-inline text-center text-muted" ng-show="::isNotAndroid">
    <li>{{working}} working</li>
    <li class="text-info">{{waitingToLink}} waiting to link</li>
    <li class="text-success">{{uploaded}} completed</li>
    <li class="text-warning">{{error}} to upload manually</li>
    <li ng-show="attempts === 0">
      <i class="fa fa-link"></i>
      Auto-uploading to {{session.db}} as {{session.account.name || session.account.email}}
    </li>
    <li ng-show="attempts > 0">
      <i class="fa fa-unlink"></i>
      Can't upload. Retrying&hellip;
    </li>
    <li><i class="fa fa-fw fa-wifi"></i>{{ip}}</li>
  </ul>
  <div ng-show="attempts === 1" class="text-warning text-center">
    <i class="fa fa-warning"></i>
    Unstable connection to {{::appName}}. Check Wi-Fi and Internet.
  </div>
  <div ng-show="attempts >= 2" class="alert alert-danger text-center">
    <i class="fa fa-warning fa-lg"></i>
    Connection to {{::appName}} lost. Check Wi-Fi and Internet.
  </div>
  <div class="fill-height-bar">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tag 1</th>
          <th>Tag 2</th>
          <th>Model</th>
          <th ng-hide="::isAndroid">Manufacturer</th>
          <th ng-hide="::isAndroid">S/N</th>
          <th>Phase</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="snapshot in snapshots | orderBy:'date':true track by snapshot.uuid"
            ng-class="
          {
            'info': snapshot._actualPhase === 'Link',
            'success': snapshot._uploaded,
            'warning': snapshot._error
          }
          ">
          <td>{{snapshot.device.tags[0]['id']}}</td>
          <td>{{snapshot.device.tags[1]['id']}}</td>
          <td>{{::snapshot.device.model}}</td>
          <td ng-if="::isNotAndroid">{{::snapshot.device.manufacturer}}</td>
          <td ng-if="::isNotAndroid">{{::snapshot.device.serialNumber}}</td>
          <td>
            <div class="center-block">
              {{snapshot._actualPhase}}
              <a ng-show="isNotAndroid && snapshot._saved"
                 ng-href="{{workbenchServer.authority}}/snapshots/{{snapshot.uuid}}"
                 target="_blank"
              >
                <i class="fa fa-lg fa-file fa-fw"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <i class="fa fa-ellipsis-h fa-lg"></i>
    </div>
  </div>
</div>
<div class="row text-center" ng-hide="$root._.isArray(snapshots)">
  <div class="col-xs-12">
    <img src="https://www.ereuse.org/files/2017/01/eReuse-Workbench.png" width="300px"
         alt="eReuse.org Workbench" title="eReuse.org Workbench">
    <div ng-if="::isAndroid">
      <h2>Looking for a Workbench Server in the IP:</h2>
      <big>
        <div class="form-group">
          <span class="input-group-addon" id="scheme">http://</span>
          <input type="text"
                 class="form-control"
                 ng-model="WSHost"
                 ng-change="setWSHost(WSHost)"
                 aria-describedby="scheme">
        </div>
      </big>
    </div>
    <div class="col-xs-12" ng-if="::isNotAndroid">
      <h1>Looking for a local Workbench Server&hellip;</h1>
      <h2>Ensure the Workbench Server is ON.</h2>
    </div>
    <div>
      <i class="fa fa-spinner fa-pulse fa-3x"></i>
    </div>
    <p>This page will automatically change once we find a WorkbenchServer.</p>
  </div>
</div>
