<div>
  <close-popover popover="popover" close-on-clickout="true"></close-popover>
  <form ng-submit="placeholderForm.submit(placeholderForm.model)" novalidate>
    <formly-form model="placeholderForm.model" fields="placeholderForm.fields" form="placeholderForm.form"
                 options="placeholderForm.options">
      <div class="text-center">
        <button type="submit" class="btn btn-primary" dh-submit-button="status.loading">
          Submit
        </button>
      </div>
    </formly-form>
  </form>
</div>
