<li class="dropdown" uib-dropdown id="new-button">
  <a uib-dropdown-toggle class="text-success"

     uib-popover-template="popover.templateUrl"
     popover-enable="popover.enable"
     popover-title="{{popover.title}}"
     popover-is-open="popover.isOpen"
     popover-placement="auto bottom"
     popover-trigger="'none'"

     ng-click="closePopover()"
  >
    <i class="fa fa-plus fa-fw fa-lg"></i>Create<span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
    <li role="menuitem" class="dropdown-header">New Snapshot</li>
    <li role="menuitem"><a ng-click="open.computerSnapshot()">
      <device-icon type="Computer" subtype="Desktop"></device-icon>
      Computer
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('ComputerMonitor')">
      <device-icon type="ComputerMonitor"></device-icon>
      Monitor
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('Peripheral')">
      <device-icon type="Peripheral" subtype="Mouse"></device-icon>
      Peripheral
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('Mobile')">
      <device-icon type="Mobile" subtype="Smartphone"></device-icon>
      Mobile
    </a></li>
    <li role="menuitem" class="dropdown-header">New placeholders</li>
    <li role="menuitem"><a ng-click="open.placeholders()">
      <device-icon type="Device"></device-icon>
      Placeholders
    </a></li>
    <li role="menuitem" class="dropdown-header">New group</li>
    <li role="menuitem"><a ng-click="open.group('Lot')">
      <resource-icon resource-type="Lot"></resource-icon>
      Lot
    </a></li>
  </ul>
</li>
