<li class="dropdown" uib-dropdown id="new-button">
  <a uib-dropdown-toggle class="text-success">
    <i class="fa fa-plus fa-fw fa-lg"></i>Create<span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
    <li role="menuitem" class="dropdown-header">New Snapshot</li>
    <li role="menuitem"><a ng-click="open.computerSnapshot()">
      <device-icon type="Computer" subtype="Desktop"></device-icon>
      Computer
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('ComputerMonitor')">
      <device-icon type="ComputerMonitor"></device-icon>
      Monitor
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('Peripheral')">
      <device-icon type="Peripheral" subtype="Mouse"></device-icon>
      Peripheral
    </a></li>
    <li role="menuitem"><a ng-click="open.snapshot('Mobile')">
      <device-icon type="Mobile" subtype="Smartphone"></device-icon>
      Mobile
    </a></li>
    <li role="menuitem" class="dropdown-header">New group</li>
    <li role="menuitem"><a ng-click="open.group('Place')">
      <resource-icon resource-type="Place"></resource-icon>
      Place
    </a></li>
    <li role="menuitem"><a ng-click="open.group('InputLot')">
      <resource-icon resource-type="Lot"></resource-icon>
      Incoming lot
    </a></li>
    <li role="menuitem"><a ng-click="open.group('OutputLot')">
      <resource-icon resource-type="Lot"></resource-icon>
      Outgoing lot
    </a></li>
    <li role="menuitem"><a ng-click="open.group('Package')">
      <resource-icon resource-type="Package"></resource-icon>
      Package
    </a></li>
  </ul>
</li>
