<div>
        <h3>Lots</h3>
</div>
<div>
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-search"></i>
        </div>
        <input class="form-control"
               placeholder="Enter lot name"
               ng-model="filter"
               ng-change="filterLots(filter)">
    </div>
    <div>
        <ol class="lots-list">
           <button class="btn btn-xs btn-normal ng-binding"
                  ng-click="selected.toggle('unassign', $event)"
		  style="padding-left:0px; padding-right:0px; background-color: inherit;">
              <h4>{{::'trade.unassign.title' | translate}}</h4>
            </button>
        </ol>
        <ol class="lots-list" style="border-top: 1px dotted #b5b5b5;">
            <h4>{{::'trade.incoming.title' | translate}}</h4>
            <li class="lot-content" 
                ng-repeat="lot in incoming"
                ng-show="lot.isVisible">
                <button class="btn btn-xs btn-normal"
                    ng-class="{selected: selected.isSelected(lot)}"
                    ng-click="selected.toggle(lot, $event)">
                    {{lot.name}}
                </button>
            </li>
        </ol>
        <ol class="lots-list" style="border-top: 1px dotted #b5b5b5;">
            <h4>{{::'trade.outgoing.title' | translate}}</h4>
            <li class="lot-content" 
                ng-repeat="lot in outgoing"
                ng-show="lot.isVisible">
                <button class="btn btn-xs btn-normal"
                    ng-class="{selected: selected.isSelected(lot)}"
                    ng-click="selected.toggle(lot, $event)">
                    {{lot.name}}
                </button>
            </li>
        </ol>
        <ol class="lots-list" style="border-top: 1px dotted #b5b5b5;">
            <h4>{{::'lots.title' | translate}}</h4>
            <button class="btn btn-link btn-sm" ng-click="newLot($event)">
                <i class="fa fa-plus fa-fw"></i>
                {{::'lots.new' | translate}}
            </button>
            <li class="lot-content" 
                ng-repeat="lot in temporary"
                ng-show="lot.isVisible">
                <button class="btn btn-xs btn-normal"
                    ng-class="{selected: selected.isSelected(lot)}"
                    ng-click="selected.toggle(lot, $event)">
                    {{lot.name}}
                </button>
            </li>
        </ol>
    </div>
</div>
