<div>
  <button class="btn btn-link btn-sm pull-right" ng-click="newIncomingLot($event)">
    <i class="fa fa-plus fa-fw"></i>
    {{::'deliverynotes.new' | translate}}
  </button>
  <button class="btn btn-link btn-sm pull-right" ng-click="newLot($event)">
    <i class="fa fa-plus fa-fw"></i>
    {{::'lots.new' | translate}}
  </button>
  <h3>Lots</h3>
</div>
<div ng-if="lots.length">
    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-search"></i>
        </div>
        <input class="form-control"
               placeholder="Enter lot name"
               ng-model="filter"
               ng-change="filterLots(filter)">
    </div>
    <div>
        <ol id="tree-root">
            <li class="tree-node tree-node-content" 
                ng-repeat="lot in lots"
                ng-show="lot.isVisible">
                <button class="btn btn-xs btn-normal"
                    ng-class="{selected: selected.isSelected(lot)}"
                    ng-click="selected.toggle(lot, $event)">
                    {{lot.name}}
                </button>
            </li>
        </ol>
    </div>
</div>
<div ng-hide="lots.length">
    <p>Just 0 lots in here...</p>
</div>
