<div class="tree-node tree-node-content" ui-tree-handle ng-click="toggleLot(node, $event)" ng-class="{selected: selector.isSelected(node) }">
  <!--
  Enable expand/collapse of tree nodes
  <a class="btn btn-normal btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggleExpand(this)"><span
          class="glyphicon"
          ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        -->
  <a class="btn btn-normal btn-xs" >
    <resource-field-edit resource="node"
                         field="{ key: 'name', value: node.name, editable: true }"
                         new-child-lot="newChildLot(parentLot)"
                         show-new-lot-btn="true">
      {{node.name}}
    </resource-field-edit>
  </a>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-show="node.isVisible" ng-repeat="node in node.nodes" ui-tree-node ng-include="treeTemplateURL">
  </li>
</ol>