<div class="tree-node tree-node-content" ng-class="{selected: !!selectedNodes[node.id]}">
  <!--
  <a class="btn btn-normal btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggleExpand(this)"><span
          class="glyphicon"
          ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
        -->
  <a class="btn btn-normal btn-xs" data-nodrag ng-click="toggleLot(node, $event)">
    <span>{{node.name}}</span>
  </a>
  <!-- TODO comment in to enable drag&drop to move
  <div class="pull-right tree-handle angular-ui-tree-handle" ui-tree-handle>
    <span>MOVE</span>
  </div>
  -->
  <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="openLot(node.id)"><span-->
          <!--class="glyphicon glyphicon-remove"></span></a>-->
  <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span-->
          <!--class="glyphicon glyphicon-plus"></span></a>-->
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="treeTemplateURL">
  </li>
</ol>