<div ui-tree-handle class="tree-node tree-node-content">
  <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
          class="glyphicon"
          ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
  <a class="btn btn-success btn-xs" data-nodrag ng-click="openLot(this)">
    <span class="glyphicon">{{node.title}}</span>
  </a>
  <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="openLot(node.id)"><span-->
          <!--class="glyphicon glyphicon-remove"></span></a>-->
  <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span-->
          <!--class="glyphicon glyphicon-plus"></span></a>-->
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="treeTemplateURL">
  </li>
</ol>