<div id="login">
  <form ng-submit="form.login(form.model)" name="loginForm" id="loginForm" novalidate>
    <h1>
      <span ng-if="!showSiteLogo">{{APP_NAME}}</span>
      <img ng-if="showSiteLogo" ng-src="{{siteLogo}}"/>
    </h1>
    <formly-form model="form.model" fields="form.fields" form="form.form" options="form.options">
      <button type="submit" class="btn btn-primary submit-button" dh-submit-button="loading">
        <span>Login</span>
      </button>
      <span ng-show="submissionError"
            class="alert alert-danger ani-show pull-right"
      >
        <span ng-switch="status">
          <span ng-switch-when="-1">You are not connected to the Internet &#128534;</span>
          <span ng-switch-when="401">Incorrect username or password.</span>
          <span ng-switch-default>There has been an error,
            <a href="mailto:hello@ereuse.org">contact the administrator</a>.</span>
        </span>

      </span>
    </formly-form>
  </form>
  <footer class="row">
    <img ng-src="{{eReuseLogo}}"/>
  </footer>
</div>
