<div class="form-group">
    <label for="receiverIsOrganization" class="col-xs-3">The receiver is an organization</label>
    <div class="col-xs-9">
        <input type="checkbox" id="receiverIsOrganization" class="form-control" ng-model="newEvent.unregisteredReceiver.isOrganization" ng-click="receiverIsOrganization()">
    </div>
</div>
<!--<div class="form-group">
    <label for="receiver" class="col-xs-3">Receiver</label>
    <div class="col-xs-9">
        <input type="text" id="receiver" class="form-control" ng-model="newEvent.receiver" placeholder="Identifier of the receiver" ng-change="oneOrAnother();">
    </div>
</div>-->
<div class="form-group">
    <label for="receiverEmail" class="col-xs-3">Email of the <span ng-if="newEvent.unregisteredReceiver.isOrganization">organization</span><span ng-if="!newEvent.unregisteredReceiver.isOrganization">receiver</span> *</label>
    <div class="col-xs-9">
        <input type="email" id="receiverEmail" class="form-control" ng-model="newEvent.unregisteredReceiver.email" required>
    </div>
</div>
<div class="form-group">
    <label for="receiverName" class="col-xs-3">Name of the <span ng-if="newEvent.unregisteredReceiver.isOrganization">organization</span><span ng-if="!newEvent.unregisteredReceiver.isOrganization">receiver</span></label>
    <div class="col-xs-9">
        <input type="text" id="receiverName" class="form-control" ng-model="newEvent.unregisteredReceiver.name">
    </div>
</div>
<div class="form-group">
    <label for="acceptedConditions" class="col-xs-3">Accepted conditions *</label>
    <div class="col-xs-9">
        <input type="checkbox" id="acceptedConditions" class="form-control" ng-model="newEvent.acceptedConditions" required>
    </div>
</div>
<div class="form-group">
    <label for="type" class="col-xs-3">Type</label>
    <div class="col-xs-9">
        <select id="type" class="form-control" ng-model="newEvent.type" required>
            <option value="FinalUser" ng-if="!newEvent.unregisteredReceiver.isOrganization">Final user </option>
            <option value="FinalUser" ng-if="newEvent.unregisteredReceiver.isOrganization">Final user (Organization) </option>
            <option value="CollectionPoint">Collection point</option>
            <option value="RecyclingPoint">Recycling point</option>
            <option value="CollectionPoint">Collection point</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label for="transferProperty" class="col-xs-3">Transfer the property</label>
    <div class="col-xs-9">
        <input type="checkbox" id="transferProperty" class="form-control" ng-model="newEvent.transferProperty">
    </div>
</div>