@import './_inventory-dashboard.directive'

inventory-dashboard .angular-google-map-container
  max-height: 22em !important

inventory-dashboard .chart-holder
  position: relative
  max-width: 25.3em
  margin: auto
