<li uib-dropdown>
  <a uib-dropdown-toggle>
    <i class="fa fa-wrench fa-fw fa-lg"></i>Tools<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="single-button">
    <li role="menuitem">
      <a href="{{DEVICE_INVENTORY_URL}}" target="_blank">
        <img src="https://www.ereuse.org/files/2017/01/eReuse-Workbench.png" width="140px"
             alt="eReuse.org Workbench" title="eReuse.org Workbench">
      </a>
    </li>
    <li role="menuitem">
      <a href="{{ANDROID_APP_URL}}" target="_blank">
        <i class="fa fa-android fa-lg fa-fw"></i>Android App</a>
    </li>
  </ul>
</li>
