<li uib-dropdown>
    <a uib-dropdown-toggle>
        <i class="fa fa-wrench fa-fw fa-lg"></i>Tools<span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <a href="{{DEVICE_INVENTORY_URL}}" target="_blank">
                <i class="fa fa-floppy-o fa-lg fa-fw"></i>DeviceInventory (ISO)</a>
        </li>
        <li role="menuitem">
            <a href="{{ANDROID_APP_URL}}" target="_blank">
                <i class="fa fa-mobile fa-lg fa-fw"></i>Android App</a>
        </li>
    </ul>
</li>
