<div id="background">
<form name="loginForm" class="form-horizontal" ng-submit="login(credentials, saveInBrowser)"  show-validation>
    <h1>DeviceHub</h1>
    <div class="form-group">
        <label for="email" class="col-xs-3">Email</label>
        <div class="col-xs-9">
            <input name="email" type="email" id="email" class="form-control"
                   ng-model="credentials.email" placeholder="Your e-mail" required>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-xs-3">Password</label>
        <div class="col-xs-9">
            <input type="password" id="password" class="form-control" ng-model="credentials.password" required minlength="4">
        </div>
    </div>
    <div class="form-group">
        <label for="saveInBrowser" class="col-xs-3">Remember me</label>
        <div class="col-xs-9">
            <input type="checkbox" id="saveInBrowser" class="form-control" ng-model="saveInBrowser">
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <!--<button type="submit" class="btn btn-info">Register</button>-->
</form>
<footer class="row">
    <img src="app/accounts/ereuse.png"/>
</footer>
</div>