<div ng-repeat="event in selection.props.events track by event._id"
     class="selection-details-panel"
     ng-class="{ active: selection.details[event._id] }"
>
  <div class="selection-details-content-wrapper">
    <div class="selection-details-content-container">
      <div class="selection-details-content">
        <button
                type="button"
                class="btn btn-hide-details"
                ng-click="selection.details[event._id] = false">
          <i class="fa fa-chevron-left fa-fw"></i>
        </button>
        <div ng-switch="event['@type']">
          <reserve-view resource="event" ng-switch-when="devices:Reserve"></reserve-view>
          <sell-view resource="event" ng-switch-when="devices:Sell"></sell-view>
          <div ng-switch-default>
            <h3>{{ utils.getResourceTitle(event) }}</h3>
            <button
                    type="button"
                    class="btn"
                    ng-click="showDevicesOfEvent(event)">
              View devices
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="selection-details-content">
  <button
          type="button"
          class="btn btn-hide-details"
          ng-click="selection.details[row.title] = false">
    <i class="fa fa-chevron-left fa-fw"></i>
  </button>
  <h3>Traceability log</h3>
  <table class="resource-list-table table table-striped table-hover">
    <thead>
      <tr>
        <th ng-repeat="th in config.tableEvents.th"
            class="{{::th.cssClasses}}"
        >
          <strong>{{th.name}}</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in selection.props.events" ng-click="selection.details[event._id] = true">
        <td>
          {{ event['@type'].substr('devices:'.length) }}
        </td>
        <td class="hidden-xs">
          {{ utils.getEventDescription(event)}}
        </td>
        <td>
          {{ event.created | date:'d MMM y h:mm a' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
