<div class="selection-details-content">
  <button
          type="button"
          class="btn ng-scope btn-hide-details"
          ng-click="selectionDetails[row.title] = false">
    <i class="fa fa-chevron-left fa-fw"></i>
  </button>
  <h3>Price</h3>
  <div class="text-center">
    <div class="btn-group btn-group-sm">
      <h4 class="text-left">Warranty</h4>
      <label class="btn btn-primary" ng-model="currencyOptions.val" uib-btn-radio="'standard'">
        Standard
      </label>
      <label class="btn btn-primary"
             ng-disabled="::!selector.getAggregatedPropertyOfSelected(allSelectedDevices, 'pricing.refurbisher.warranty2')"
             uib-tooltip="No 2 year warranty option for this device."
             tooltip-enable="::!selector.getAggregatedPropertyOfSelected(allSelectedDevices, 'pricing.refurbisher.warranty2')"
             ng-model="currencyOptions.val"
             uib-btn-radio="'warranty2'"
      >
        2 year warranty
      </label>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>%</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="roleName in currencyOptions.roles">
      <td>{{::roleName | humanize}}</td>
      <td>{{selector.getAggregatedPropertyOfSelected(allSelectedDevices, 'pricing'+'.'+roleName+'.'+currencyOptions.val+'.'+'percentage') |
        percentage}}
      </td>
      <td>{{selector.getAggregatedPropertyOfSelected(allSelectedDevices, 'pricing'+'.'+roleName+'.'+currencyOptions.val+'.'+'amount') |
        currency: currencyOptions.currency }}
      </td>
    </tr>
    <tr class="active">
      <td>Total</td>
      <td></td>
      <td>{{selector.getAggregatedPropertyOfSelected(allSelectedDevices, 'pricing.total'+'.'+currencyOptions.val) | currency:
        currencyOptions.currency}}
      </td>
    </tr>
    </tbody>
  </table>
</div>