<div class="selection-details-content">
  <button
          type="button"
          class="btn ng-scope btn-hide-details"
          ng-click="selection.details[row.title] = false">
    <i class="fa fa-chevron-left fa-fw"></i>
  </button>
  <h3>Status</h3>
  <div class="row">
    <div class="col-lg-6">
      <div class="descriptor">
        <h5>Current status</h5>
        <button
                class="btn btn-default-inverted"
                ng-repeat="aggregated in selection.props.physical"
                ng-click="addFilter(aggregated.property, aggregated.value, 'Status')">
          {{ aggregated.value }} ({{ aggregated.count }})
        </button>
        <button
                class="btn btn-default-inverted"
                ng-repeat="aggregated in selection.props.trading"
                ng-click="addFilter(aggregated.property, aggregated.value, 'Status')">
          {{ aggregated.value }} ({{ aggregated.count }})
        </button>
      </div>
    </div>
  </div>
</div>