<div class="selection-details-content selection-details-content-type">
  <button
          type="button"
          class="btn ng-scope btn-hide-details"
          ng-click="selection.details[row.title] = false">
    <i class="fa fa-chevron-left fa-fw"></i>
  </button>
  <h3>Device</h3>
  <div class="row">
    <div class="col-xs-6"
         ng-repeat="prop in [{ title: 'Type', path: '@type' }, { title: 'Sub type', path: 'type' }, { title: 'Manufacturer', path: 'manufacturer' }, { title: 'Model', path: 'model' }, { title: 'Serial number', path: 'serialNumber' }, { title: 'HID', path: 'hid' }]"><!-- TODO get from config/schema -->
      <h5>{{ prop.title }}</h5>
      <selection-aggregated-property aggregate="selection.props[prop.path]" title="prop.title" add-filter="addFilter(path, value, title)"></selection-aggregated-property>
    </div>
    <div class="col-xs-6">
      <h5>Tags</h5>
      <h4>{{ selection.props.tags.join(', ') }}</h4>
    </div>
    <div class="col-xs-6">
      <h5>Internal identifier (internal use only)</h5>
      <h4>{{ selection.props._id.join(', ') }}</h4>
    </div>
  </div>
</div>