<span>
Total: {{totalResources}} items<span ng-show="selectedResources.length > 0">,</span>
  <span uib-tooltip-template="UIB_TOOLTIP_TEMPLATE"
        tooltip-placement="top"
        id="counter"
        ng-show="selectedResources.length > 0"
  >{{selectedResources.length}} selected across lists, {{numberSelectedResourcesInList}} in current list
  </span>
  <span id="export" class="dropup" uib-dropdown ng-show="selectedResources.length > 0">
  <i uib-dropdown-toggle id="export-button" type="button" class="fa fa-download"></i>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem" class="dropdown-header">Export the selected devices</li>
    <li role="menuitem" class="dropdown-header" ng-show="isSafari">Only Safari from 2017+ supported</li>
    <li role="menuitem">
      <a href="#" ng-click="exportSpreadsheet('ods')">
        <i class="fa fa-file-excel-o"></i>
        LibreOffice (ods)
      </a>
    </li>
    <li role="menuitem">
      <a href="#" ng-click="exportSpreadsheet('xlsx')">
        <i class="fa fa-file-excel-o"></i>
        Excel (xlsx)
      </a>
    </li>
  </ul>
</span>
</span>
