<li uib-dropdown data-e2e="shared-with-me">
  <a uib-dropdown-toggle>
    <i class="fa fa-users fa-fw fa-lg"></i>Inventories shared to me<span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li class="disabled" ng-show="session.account.shared.length == 0">
      <a>
        Groups (lots, packages&hellip;)<br>that people share to you will appear here.
      </a>
    </li>
    <li role="menuitem" ng-repeat="resource in session.account.shared">
      <a ng-click="sharedWithMe.go(resource)">
        <resource-icon resource-type="{{::resource['@type']}}"></resource-icon>
        {{::resource | resourceTitle}}
        &nbsp;—&nbsp;
        {{::resource.db}}
      </a>
    </li>
  </ul>
</li>
