<div class="modal-header">
  <h3 class="modal-title">
    <i class="fa fa-sliders fa-fw fa-lg"></i>Configure Workbench
  </h3>
</div>
<div class="modal-body">
  <p>
    We apply the configuration to the new computers that connect to the
    WorkbenchServer.
  </p>
  <p>
    <a
      href="https://ereuse-org.gitbooks.io/faq/content/w-hich-is-the-data-wiping-process-performed.html"
      target="_blank"
    >
      Take a look at the FAQ
    </a>
    to know more about the erasure process.
  </p>
  <div ng-if="form.model">
    <form id="form-workbench-config" ng-submit="form.submit(form.model)" novalidate>
      <formly-form model="form.model" fields="form.fields" form="form.form" options="form.options">
      </formly-form>
    </form>
  </div>
</div>
<div class="modal-footer">
  <div class="row">
    <button type="submit"
            form="form-workbench-config"
            class="btn btn-primary submit-button"
            dh-submit-button="status.loading"
    >
      Submit
    </button>
    <button class="btn btn-warning"
            type="button"
            ng-click="cancel()"
            ng-disabled="status.loading"
    >
      Cancel
    </button>
    <button ng-click="form.reset()" class="btn btn-info">
      Reset to default values
    </button>
  </div>
</div>
