@import './../../../styles/_variables.sass'
user-button
  #single-button
    padding: 0 !important
    border: none !important
    img
      width: 42px
      border-radius: 30px
      border: 1px solid $btn-default-border
