<li uib-dropdown id="user-button">
  <a uib-dropdown-toggle id="img-button">
    <img gravatar-src-once="account.email"
         gravatar-size="50"
         gravatar-default="https://www.ereuse.org/files/2017/04/timmy-avatar.png"
    />
  </a>
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem" class="dropdown-header">{{::account.email}}</li>
    <li class="divider"></li>
    <li role="menuitem"><a class="text-danger-important" ng-click="logout()">Logout</a></li>
  </ul>
</li>
